:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  border: 0;
}

#app {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  #app {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
